<a href="https://colab.research.google.com/github/leonhardc/dataScienceTrabalhoFinal-Colab/blob/master/Trabalho_final_acidentes_de_transitov2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### Importações

In [ ]:
import pandas as pd 
import numpy as np
from google.colab import drive

##### Montar o Google drive

In [ ]:
drive.mount('/content/drive', force_remount=True)

##### Importar csv como dataframe

In [ ]:
df2017 = pd.read_csv('/content/drive/My Drive/DataScienceDataSet/_originais/acidentes2017_todas_causas_tipos.csv', sep=';')

In [ ]:
df2018 = pd.read_csv('/content/drive/My Drive/DataScienceDataSet/_originais/acidentes2018_todas_causas_tipos.csv', sep=';')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df2019 = pd.read_csv('/content/drive/My Drive/DataScienceDataSet/_originais/acidentes2019_todas_causas_tipos.csv', sep=';')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df2020 = pd.read_csv('/content/drive/My Drive/DataScienceDataSet/_originais/acidentes2020_todas_causas_tipos.csv', sep=';')

##### Informações

In [ ]:
df2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349067 entries, 0 to 349066
Data columns (total 37 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      349067 non-null  int64
 1   pesid                   319292 non-null  float64
 2   data_inversa            349067 non-null  object
 3   dia_semana              349067 non-null  object
 4   horario                 349067 non-null  object
 5   uf                      349067 non-null  object
 6   br                      348546 non-null  float64
 7   km                      348546 non-null  object
 8   municipio               349067 non-null  object
 9   causa_principal         349067 non-null  object
 10  causa_acidente          349067 non-null  object
 11  ordem_tipo_acidente     349067 non-null  int64
 12  tipo_acidente           349067 non-null  object
 13  classificacao_acidente  349067 non-null  object
 14  fase_dia                349067 non-null  object
 15  sentido_via             349067 non-null  object
 16  condicao_metereologica  349067 non-null  object
 17  tipo_pista              349067 non-null  object
 18  tracado_via             349067 non-null  object
 19  uso_solo                349067 non-null  object
 20  id_veiculo              349062 non-null  float64
 21  tipo_veiculo            349067 non-null  object
 22  marca                   336224 non-null  object
 23  ano_fabricacao_veiculo  334697 non-null  float64
 24  tipo_envolvido          349067 non-null  object
 25  estado_fisico           349067 non-null  object
 26  idade                   286177 non-null  float64
 27  sexo                    349067 non-null  object
 28  ilesos                  349067 non-null  int64
 29  feridos_leves           349067 non-null  int64
 30  feridos_graves          349067 non-null  int64
 31  mortos                  349067 non-null  int64
 32  latitude                349067 non-null  object
 33  longitude               349067 non-null  object
 34  regional                349067 non-null  object
 35  delegacia               349067 non-null  object
 36  uop                     332235 non-null  object
dtypes: float64(5), int64(6), object(26)
memory usage: 98.5+ MB

In [ ]:
df2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324809 entries, 0 to 324808
Data columns (total 37 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      324809 non-null  object
 1   pesid                   299277 non-null  float64
 2   data_inversa            324809 non-null  object
 3   dia_semana              324809 non-null  object
 4   horario                 324809 non-null  object
 5   uf                      324809 non-null  object
 6   br                      324257 non-null  float64
 7   km                      324257 non-null  object
 8   municipio               324809 non-null  object
 9   causa_principal         324809 non-null  object
 10  causa_acidente          324809 non-null  object
 11  ordem_tipo_acidente     324754 non-null  float64
 12  tipo_acidente           324754 non-null  object
 13  classificacao_acidente  324809 non-null  object
 14  fase_dia                324809 non-null  object
 15  sentido_via             324809 non-null  object
 16  condicao_metereologica  324809 non-null  object
 17  tipo_pista              324809 non-null  object
 18  tracado_via             324809 non-null  object
 19  uso_solo                324809 non-null  object
 20  id_veiculo              324809 non-null  int64
 21  tipo_veiculo            324809 non-null  object
 22  marca                   311669 non-null  object
 23  ano_fabricacao_veiculo  309128 non-null  float64
 24  tipo_envolvido          324809 non-null  object
 25  estado_fisico           324809 non-null  object
 26  idade                   263305 non-null  float64
 27  sexo                    324809 non-null  object
 28  ilesos                  324809 non-null  int64
 29  feridos_leves           324809 non-null  int64
 30  feridos_graves          324809 non-null  int64
 31  mortos                  324809 non-null  int64
 32  latitude                324809 non-null  object
 33  longitude               324809 non-null  object
 34  regional                324809 non-null  object
 35  delegacia               324809 non-null  object
 36  uop                     308467 non-null  object
dtypes: float64(5), int64(5), object(27)
memory usage: 91.7+ MB

In [ ]:
df2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331666 entries, 0 to 331665
Data columns (total 37 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      331666 non-null  object
 1   pesid                   307223 non-null  float64
 2   data_inversa            331666 non-null  object
 3   dia_semana              331666 non-null  object
 4   horario                 331666 non-null  object
 5   uf                      331666 non-null  object
 6   br                      331291 non-null  float64
 7   km                      331291 non-null  object
 8   municipio               331666 non-null  object
 9   causa_principal         331666 non-null  object
 10  causa_acidente          331666 non-null  object
 11  ordem_tipo_acidente     331626 non-null  float64
 12  tipo_acidente           331626 non-null  object
 13  classificacao_acidente  331666 non-null  object
 14  fase_dia                331666 non-null  object
 15  sentido_via             331666 non-null  object
 16  condicao_metereologica  331666 non-null  object
 17  tipo_pista              331666 non-null  object
 18  tracado_via             331666 non-null  object
 19  uso_solo                331666 non-null  object
 20  id_veiculo              331666 non-null  int64
 21  tipo_veiculo            331666 non-null  object
 22  marca                   317602 non-null  object
 23  ano_fabricacao_veiculo  314393 non-null  float64
 24  tipo_envolvido          331666 non-null  object
 25  estado_fisico           331666 non-null  object
 26  idade                   269798 non-null  float64
 27  sexo                    331666 non-null  object
 28  ilesos                  331666 non-null  int64
 29  feridos_leves           331666 non-null  int64
 30  feridos_graves          331666 non-null  int64
 31  mortos                  331666 non-null  int64
 32  latitude                331666 non-null  object
 33  longitude               331666 non-null  object
 34  regional                331666 non-null  object
 35  delegacia               331666 non-null  object
 36  uop                     314468 non-null  object
dtypes: float64(5), int64(5), object(27)
memory usage: 93.6+ MB

In [ ]:
df2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170791 entries, 0 to 170790
Data columns (total 37 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      170791 non-null  int64
 1   pesid                   156534 non-null  float64
 2   data_inversa            170791 non-null  object
 3   dia_semana              170791 non-null  object
 4   horario                 170791 non-null  object
 5   uf                      170791 non-null  object
 6   br                      170333 non-null  float64
 7   km                      170333 non-null  object
 8   municipio               170791 non-null  object
 9   causa_principal         170791 non-null  object
 10  causa_acidente          170791 non-null  object
 11  ordem_tipo_acidente     170791 non-null  int64
 12  tipo_acidente           170791 non-null  object
 13  classificacao_acidente  170791 non-null  object
 14  fase_dia                170791 non-null  object
 15  sentido_via             170791 non-null  object
 16  condicao_metereologica  170791 non-null  object
 17  tipo_pista              170791 non-null  object
 18  tracado_via             170791 non-null  object
 19  uso_solo                170791 non-null  object
 20  id_veiculo              170791 non-null  int64
 21  tipo_veiculo            170791 non-null  object
 22  marca                   163076 non-null  object
 23  ano_fabricacao_veiculo  161261 non-null  float64
 24  tipo_envolvido          170791 non-null  object
 25  estado_fisico           170791 non-null  object
 26  idade                   137061 non-null  float64
 27  sexo                    170791 non-null  object
 28  ilesos                  170791 non-null  int64
 29  feridos_leves           170791 non-null  int64
 30  feridos_graves          170791 non-null  int64
 31  mortos                  170791 non-null  int64
 32  latitude                170791 non-null  object
 33  longitude               170791 non-null  object
 34  regional                170791 non-null  object
 35  delegacia               170791 non-null  object
 36  uop                     168156 non-null  object
dtypes: float64(4), int64(7), object(26)
memory usage: 48.2+ MB

#### Aplicando filtros

In [ ]:
# Nesse passo, basicamente, estou removendo todas as linhas com, pelo menos um valor faltante em todos os dataframes

df2017.dropna(inplace=True) 
df2018.dropna(inplace=True)
df2019.dropna(inplace=True)
df2020.dropna(inplace=True)

# Logo após, exibirmos as informações dos dataframes para observar se alguma mudança foi feita

print("DataFrame2017: " + str(df2017.shape)) # exibe quantidade de linhas e colunas do dataframe
print("DataFrame2018: " + str(df2018.shape))
print("DataFrame2019: " + str(df2019.shape))
print("DataFrame2020: " + str(df2020.shape))

In [ ]:
# Atributos que se deseja excluir
atrib = ['feridos_leves','ilesos','latitude', 'longitude', 'pesid', 'horario', 'br', 'km', 'causa_principal', 'causa_acidente', 'ordem_tipo_acidente', 'fase_dia', 'sentido_via', 'condicao_metereologica', 'tipo_pista', 'tracado_via','uso_solo', 'id_veiculo', 'tipo_veiculo', 'marca', 'ano_fabricacao_veiculo', 'regional', 'delegacia', 'uop']

for a in atrib:
  df2017 = df2017.drop(a, axis = 1)
  df2018 = df2018.drop(a, axis = 1)
  df2019 = df2019.drop(a, axis = 1)
  df2020 = df2020.drop(a, axis = 1)

print("DataFrame2017: " + str(df2017.shape)) # exibe quantidade de linhas e colunas do dataframe
print("DataFrame2018: " + str(df2018.shape))
print("DataFrame2019: " + str(df2019.shape))
print("DataFrame2020: " + str(df2020.shape))

In [ ]:
# Primeiramente, vamos verificar e excluir quaisquer linhas duplicadas

df2017.drop_duplicates()
df2018.drop_duplicates()
df2019.drop_duplicates()
df2020.drop_duplicates()

print("DataFrame2017: " + str(df2017.shape)) # exibe quantidade de linhas e colunas do dataframe
print("DataFrame2018: " + str(df2018.shape))
print("DataFrame2019: " + str(df2019.shape))
print("DataFrame2020: " + str(df2020.shape))

##### Aplicar filtros, referentes a seleção do estado do Ceará

In [ ]:
# filtro de uf, somente para o ceará
newindex = list(range(0, len(df2017)))
df2017.index = newindex

dftemp = pd.DataFrame(columns=df2017.columns, index = df2017.index)

for a in df2017.index:
  if df2017['uf'][a] == 'CE':
   pd.DataFrame(np.insert(dftemp.values, a, df2017.values[a], axis=0)) #Cria espaço 
   dftemp.values[a] = df2017.values[a]
   print(dftemp.values[a])
   ind = ind + 1

# tratamento de espaços vazios
dftemp.dropna(inplace=True) #Apagando todas as linhas com espaços vazios
newindex = list(range(0, len(dftemp)))
dftemp.index = newindex #Recolocando os indices do dataframe


df2017 = dftemp
print("DataFrame2017: " + str(df2017.shape))

In [ ]:
newindex = list(range(0, len(df2018)))
df2018.index = newindex

dftemp = pd.DataFrame(columns=df2018.columns, index = df2018.index)

for a in df2018.index:
  if df2017['uf'][a] == 'CE':
   pd.DataFrame(np.insert(dftemp.values, a, df2018.values[a], axis=0)) #Cria espaço 
   dftemp.values[a] = df2018.values[a]
   print(dftemp.values[a])

# tratamento de espaços vazios
dftemp.dropna(inplace=True) #Apagando todas as linhas com espaços vazios
newindex = list(range(0, len(dftemp)))
dftemp.index = newindex #Recolocando os indices do dataframe


df2018 = dftemp
print("DataFrame2018: " + str(df2018.shape))

In [ ]:
newindex = list(range(0, len(df2019)))
df2019.index = newindex

dftemp = pd.DataFrame(columns=df2019.columns, index = df2019.index)

for a in df2019.index:
  if df2019['uf'][a] == 'CE':
   pd.DataFrame(np.insert(dftemp.values, a, df2019.values[a], axis=0)) #Cria espaço 
   dftemp.values[a] = df2019.values[a]
   print(dftemp.values[a])

# tratamento de espaços vazios
dftemp.dropna(inplace=True) #Apagando todas as linhas com espaços vazios
newindex = list(range(0, len(dftemp)))
dftemp.index = newindex #Recolocando os indices do dataframe


df2019 = dftemp
print("DataFrame2019: " + str(df2019.shape))

In [ ]:
newindex = list(range(0, len(df2020)))
df2020.index = newindex

dftemp = pd.DataFrame(columns=df2020.columns, index = df2020.index)

for a in df2020.index:
  if df2020['uf'][a] == 'CE':
   pd.DataFrame(np.insert(dftemp.values, a, df2020.values[a], axis=0)) #Cria espaço 
   dftemp.values[a] = df2020.values[a]
   print(dftemp.values[a])

# tratamento de espaços vazios
dftemp.dropna(inplace=True) #Apagando todas as linhas com espaços vazios
newindex = list(range(0, len(dftemp)))
dftemp.index = newindex #Recolocando os indices do dataframe


df2020 = dftemp
print("DataFrame2020: " + str(df2020.shape))

#### Concatenar dataframes

In [ ]:
fullDataFrame = pd.concat([df2017, df2018], ignore_index=True)
fullDataFrame = pd.concat([fullDataFrame, df2019], ignore_index=True)
fullDataFrame = pd.concat([fullDataFrame, df2020], ignore_index=True)

##### Salvar dados

In [ ]:
fullDataFrame.to_csv('/content/drive/My Drive/DataScienceDataSet/_modificados/acidentes2017a2020.csv')